body{
    background-image: url('../assets/img/carro.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
}

.col-md-6:first-child {
    background: rgba(139, 139, 139, 0.5);
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;

}

.col-md-6:last-child {
    background: rgba(0,0,0,0.5);
    border-bottom-right-radius: 3rem;
    border-top-right-radius: 3rem;

   
}
input {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7); 
    outline: none; 

}

input::placeholder{
    color: white;
}
hr{
        border: none;
        margin: 10px 0; /* Espaçamento acima e abaixo */
}

.icon-group{
    display: flex;
    gap: 4rem;
    align-items: center;
    color: white;
}



/* background: rgba(0,0,0,0.5) !important;